<!DOCTYPE html>
<html>
  <head>
    <title>pbragamiranda</title>
    <%= favicon_link_tag asset_path('botafogo.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="min-h-screen">
      <%= render 'shared/navbar' %>
      <%= render 'shared/wave'  %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
